@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* *** common styles *** */

.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 18px 22px;
  border: 0;
  cursor: pointer;
}

.section-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* *** header styles *** */

header {
  width: 100%;
  padding: 0 12.5%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #424242;
  padding: 30px 0;
  align-items: center;
}
.nav-title {
  color: var(--Dark-01, #131313);
  font-size: 2.1rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul li,
a {
  list-style: none;
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}

.banner-conent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 0 150px;
  margin-bottom: 40px;
}

.banner-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.banner-image {
  width: 100%;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
}

.banner-image img {
  width: 100%;
  height: 100%;
}

/**  Featured Section */

main {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 60px;
}

.featured {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.featured-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  width: 50%;
}
.featured-left img {
  width: 100%;
  height: 100%;
}

.featured-right {
  width: 50%;
  padding-left: 60px;
}
.featured-title {
  padding-bottom: 10px;
}

.featured-title-gray {
  color: #727272;
  font-size: 2.1rem;
  font-weight: 500;
}

.featured-title-black {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
}

.featured-title-orange {
  color: #ff900e;
  font-size: 2.1rem;
  font-weight: 700;
}
.featured-description {
  padding-bottom: 20px;
}

/** Facts Section */

.facts {
  margin-top: 100px;
}

.facts-title {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
}

.facts-description {
  margin-top: 20px;
  width: 70%;
}

.facts-box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.facts-box {
  width: 18%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
}

.facts-awards {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #424242;
  font-size: 2rem;
  font-weight: 600;
}

.facts-box-title {
  color: #727272;
  font-size: 1rem;
  font-weight: 600;
}

/* *** Responsive media  */

/** Mobile Devices */

/* * Header Section  */

@media screen and (max-width: 576px) {
  .banner-conent {
    padding: 0 20px;
  }

  nav {
    flex-direction: column;
    gap: 30px;
  }
  nav ul {
    gap: 15px;
  }
  .banner-conent {
    margin-top: 30px;
  }

  /** Featured Section */

  .featured {
    padding: 0;
    flex-direction: column-reverse;
  }

  .featured-left {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .featured-right {
    width: 100%;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  /** Fact Section   */

  .facts-description{
    width: 95%;
  }

  .facts-box-container{
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .facts-box{
    width: 100%;
  }











}

/** Medium Devices */

@media screen and (min-width: 596px) and (max-width: 960px) {
  .banner-conent {
    padding: 0 40px;
  }

  nav {
    flex-direction: column;
    gap: 30px;
  }
  .banner-conent {
    margin-top: 30px;
  }

  .featured {
    padding: 0;
    flex-direction: column-reverse;
  }

  .featured-left {
    width: 100%;
  }
  .featured-right {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}
