@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* *** common styles *** */

.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 18px 22px;
  border: 0;
  cursor: pointer;
}

.section-description {
  color: #727272;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}

/* *** header styles *** */

header {
  width: 100%;
  padding: 0 12.5%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #424242;
  padding: 30px 0;
  align-items: center;
}
.nav-title {
  color: var(--Dark-01, #131313);
  font-size: 2.1rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul li,
a {
  list-style: none;
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}

.banner-conent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 0 150px;
  margin-bottom: 40px;
}

.banner-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.banner-image {
  width: 100%;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
}

.banner-image img {
  width: 100%;
  height: 100%;
}

/**  Featured Section */

main {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 60px;
}

.featured {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.featured-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  width: 50%;
}
.featured-left img {
  width: 100%;
  height: 100%;
}

.featured-right {
  width: 50%;
  padding-left: 60px;
}
.featured-title {
  padding-bottom: 10px;
}

.featured-title-gray {
  color: #727272;
  font-size: 2.1rem;
  font-weight: 500;
}

.featured-title-black {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
}

.featured-title-orange {
  color: #ff900e;
  font-size: 2.1rem;
  font-weight: 700;
}
.featured-description {
  padding-bottom: 20px;
}

/* * Experience Section  */

.experience {
  display: flex;
  gap: 60px;
  margin-top: 100px;
}

.experience-text-container {
  width: 50%;
  padding-top: 20px;
}

.experience-text {
  margin-bottom: 15px;
}

.experience-title {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 20px;
  border-left: 4px solid #ff900e;
  padding-left: 15px;
}

.experience-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  padding: 15px 20px;
}

.card-experience-description {
  color: #727272;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 16px;
}
.experience-card-title {
  color: #131313;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.experience-image {
  width: 50%;
  position: relative;
}

.experience-image img {
  width: 100%;
}

.experience-duration {
  width: 45%;
  height: 110px;
  border-radius: 8px;
  background: #ff900e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: -35px
}

.experience-duration-title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.experience-duration-subtitle {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

/** Facts Section */

.facts {
  margin-top: 100px;
}

.facts-title {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
}

.facts-description {
  margin-top: 20px;
  width: 70%;
}

.facts-box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.facts-box {
  width: 18%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
}

.facts-awards {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #424242;
  font-size: 2rem;
  font-weight: 600;
}

.facts-box-title {
  color: #727272;
  font-size: 1rem;
  font-weight: 600;
}

/* * Sponsors section  */

.sponsors {
  margin-top: 100px;
}

.sponsors-text {
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors-title {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
  padding-bottom: 20px;
}
.sponsors-description {
  width: 70%;
}

.sponsors-image {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.sponsors-image img {
  width: 10%;
  filter: grayscale(100%);
  opacity: 70%;
}

/* * Footer section */

footer {
  margin-top: 100px;
}
.copyright {
  text-align: center;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background: #fff4e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *** Responsive media  */

/** Mobile Devices */

/* * Header Section  */

@media screen and (max-width: 576px) {
  .mobile-device-width {
    width: 100%;
    padding: 0 25px;
  }

  .banner-image {
    padding-bottom: 30px;
  }

  .banner-conent {
    padding: 0 0;
  }

  nav {
    flex-direction: column;
    gap: 30px;
  }

  nav ul {
    gap: 15px;
  }

  .banner-conent {
    margin-top: 30px;
  }

  /** Featured Section */

  .featured {
    padding: 0;
    flex-direction: column-reverse;
  }

  .featured-left {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .featured-right {
    width: 100%;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }

  /** Fact Section   */

  .facts-text {
    text-align: center;
  }
  .facts-description {
    width: 95%;
  }

  .facts-box-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
  }

  .facts-box {
    width: 50%;
  }

  /* * Sponsors Section  */

  .sponsors {
    margin-top: 90px;
  }

  .sponsors-description {
    width: 100%;
  }

  .sponsors-image {
    flex-direction: column;
    align-items: center;
  }

  .sponsors-image img {
    width: 30%;
  }

  /* * Footer Section */

  footer {
    margin-top: 50px;
  }

  .copyright {
    padding: 0 15%;
  }
}

/** Medium Devices */

@media screen and (min-width: 596px) and (max-width: 960px) {
  .banner-conent {
    padding: 0 40px;
  }

  nav {
    flex-direction: column;
    gap: 30px;
  }
  .banner-conent {
    margin-top: 30px;
  }

  .featured {
    padding: 0;
    flex-direction: column-reverse;
  }

  .featured-left {
    width: 100%;
  }
  .featured-right {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .facts-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8%;
    padding: 0 10%;
    margin-top: 50px;
  }

  .facts-box {
    width: 100%;
  }
}
